<footer class="page-footer">
  <div class="site-footer">
    <div class="footer-main-row">
      <div class="footer-row-inner">
        <div class="flex-group">
          <div class="pagebuilder-column" style="justify-content: flex-end; display: flex; flex-direction: column; background-size: cover; background-attachment: scroll; border-style: none; border-width: 1px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; width: 33.3333%; margin: 0px; padding: 24px 30px 0px; align-self: flex-start; background-position: left top; background-repeat: no-repeat no-repeat;">
            <div class="footer-social-links" style="border-style: none; border-width: 1px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; margin: 0px; padding: 0px;">
              <h5>
                {{dc 'text_-_follow_us'}}:
			  <a href="https://instagram.com/vivobarefoot" target="_blank" rel="noopener">{{dc 'instagram'}}</a>
                  <a href="https://twitter.com/vivobarefoot" target="_blank" rel="noopener">{{dc 'twitter'}}</a>
                  <a href="https://www.facebook.com/vivobarefoot" target="_blank" rel="noopener"> {{dc 'facebook'}}</a>
              </h5>
            </div>
            <figure style="text-align: left; margin: 0px; padding: 0px; border-style: none;">
              <img src="https://www.vivobarefoot.com/media/wysiwyg/1.1bcorp.png" alt="" title="" data-element="mobile_image" style="border-style: none; border-width: 1px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; max-width: 100%; height: auto;">
            </figure>
          </div>
          <div class="pagebuilder-column footer-nav-column" style="justify-content: flex-start; display: flex; flex-direction: column; background-size: cover; background-attachment: scroll; border-style: none; border-width: 1px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; width: 16.6667%; margin: 0px; padding: 30px 0px 0px 30px; align-self: stretch; background-position: left top; background-repeat: no-repeat no-repeat;">
            <div style="border-style: none; border-width: 1px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; margin: 0px; padding: 0px;">
              <h5>
                {{dc 'text_-_shop'}}
              </h5>
              <p>
                  <a href="{{dc 'mens_link'}}">{{dc'text_-_mens'}}</a>
              </p>
              <p>
                  <a href="{{dc 'womens_link'}}">{{dc 'text_-_womens'}}</a>
              </p>
              <p>
                  <a href="{{ dc 'kids_link'}}">{{dc 'text_-_kids'}}</a>
              </p>
              <p>
                  <a href="{{dc 'latest_link'}}">{{dc 'text_-_latest'}}</a>
              </p>
            </div>
          </div>
          <div class="pagebuilder-column footer-nav-column" style="justify-content: flex-start; display: flex; flex-direction: column; background-size: cover; background-attachment: scroll; border-style: none; border-width: 1px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; width: 16.6667%; margin: 0px; padding: 30px 30px 0px 0px; align-self: stretch; background-position: left top; background-repeat: no-repeat no-repeat;">
            <div style="border-style: none; border-width: 1px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; margin: 0px; padding: 0px;">
              <h5>
                {{dc 'text_-_help'}}
              </h5>
              <p>
                  <a href="{{dc 'faq_and_contact'}}">{{dc 'text_-_faq_and_contact'}}</a>
              </p>
              <p>
                  <a href="{{dc 'returns'}}">{{dc 'text_-_shipping_and_returns'}}</a>
              </p>
              <p>
                  <a href="{{dc 'size_guide'}}">{{dc 'text_-_size_guide'}}</a>
              </p>
              <p>
                  <a  href="{{dc 'send_us_your_vivo'}}">{{dc 'text_-_send_us'}}</a>
              </p>
           <p>
                  <a  href="{{dc 'fake_site_awareness'}}">{{dc 'fake_site_awareness_text'}}</a>
              </p>
              <p>
                <a href="tel:{{dc 'phone_number'}}"> T. {{dc 'phone_number'}}</a> 
              </p>
            </div>
          </div>
          <div class="pagebuilder-column footer-nav-column" style="justify-content: flex-start; display: flex; flex-direction: column; background-size: cover; background-attachment: scroll; border-style: none; border-width: 1px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; width: 16.6667%; margin: 0px; padding: 30px 0px 0px 30px; align-self: stretch; background-position: left top; background-repeat: no-repeat no-repeat;">
            <div style="border-style: none; border-width: 1px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; margin: 0px; padding: 0px;">
              <h5>
                {{dc 'text_-_community'}}
              </h5>
              <p>
                  <a  href="{{dc 'store_finder'}}">{{dc 'text_-_store_finder'}}</a>
              </p>
              <p>
                  <a  href="{{ dc 'refer_a_friend'}}">{{dc 'text_-_refer'}}</a>
              </p>
              <p>
                  <a  href="{{dc 'student_discount'}}">{{dc 'text_-_student_discount'}}</a>
              </p>
              <p>
                  <a  href="{{dc 'our_repair_service'}}">{{dc 'text_-_our_repair'}}</a>
              </p>
            </div>
          </div>
          <div class="pagebuilder-column footer-nav-column" style="justify-content: flex-start; display: flex; flex-direction: column; background-size: cover; background-attachment: scroll; border-style: none; border-width: 1px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; width: 16.6667%; margin: 0px; padding: 30px 30px 0px 0px; align-self: stretch; background-position: left top; background-repeat: no-repeat no-repeat;">
            <div  style="border-style: none; border-width: 1px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; margin: 0px; padding: 0px;">
              <h5>
			         {{dc 'text_-_company'}}
              </h5>
              <p>
                  <a href="{{dc 'careers'}}">{{dc 'text_-_careers'}}</a>
              </p>
              <p>
                  <a href="{{dc 'affiliates'}}">{{dc 'text_-_affiliates'}}</a>
              </p>
              <p>
                  <a href="{{dc 'wholesale'}}">{{dc 'text_-_wholesale'}}</a>
              </p>
              <p>
                  <a href="{{dc 'stakeholder'}}">{{dc 'text_-_stakeholder'}}</a>
              </p>
            </div>
          </div>
      </div>
      </div>
    </div>
      <div class="footer-copyright-row" >
        <div class="footer-row-inner">
          <div class="footer-hr"></div>
          <div class="flex-group">
          <div class="pagebuilder-column footer-copyright-column"  style="justify-content: flex-start; display: flex; flex-direction: column; background-size: cover; background-attachment: scroll; border-style: none; border-width: 1px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; width: 33.3333%; margin: 0px; background-position: left top; background-repeat: no-repeat no-repeat;">
            <div class="flex-group">
              <p>
                <strong>
                  <span class="hidden-sm">{{dc 'text_-_all_rights'}}</span>
                </strong>
              </p>
            </div>
          </div>
          <div class="pagebuilder-column footer-terms-column" style="justify-content: flex-start; display: flex; flex-direction: column; background-size: cover; background-attachment: scroll; border-style: none; border-width: 1px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; width: 33.3333%; margin: 0px; padding: 0px 30px; background-position: left top; background-repeat: no-repeat no-repeat;">
            <div class="flex-group" style="border-style: none; border-width: 1px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; margin: 0px; padding: 0px;">
              <p>
                  <a  href="{{dc 'terms_of_use'}}">{{dc 'text_-_terms'}}</a>
              </p>
              <p>
                  <a  href="{{dc 'privacy_policy'}}">{{dc 'text_-_privacy' }}</a>
              </p>
              <p>
                  <a href="{{dc 'cookies'}}">{{dc 'text_-_cookie'}}</a>
              </p>
            </div>
          </div>
          <div class="pagebuilder-column footer-payments-column" style="justify-content: flex-start; display: flex; flex-direction: column; background-size: cover; background-attachment: scroll; border-style: none; border-width: 1px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; width: 33.3333%; margin: 0px; padding: 0px 45px 0px 0px; background-position: left top; background-repeat: no-repeat no-repeat;">
            <figure data-content-type="image" data-appearance="full-width" data-element="main" style="text-align: right; margin: 0px; padding: 0px; border-style: none;">
              <img  src="https://www.vivobarefoot.com/media/wysiwyg/footer-cards-klarna.png" alt="" title="" style="border-style: none; border-width: 1px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; max-width: 100%; height: auto;">
            </figure>
          </div>
      </div>
  </div>
      </div>
  </div>
</footer>